# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* Libraries used by Data Scientists
* Examples of evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:

In [22]:
q = "SQL"
w=  "Python"
r= "R"
Lista= [q,w,r]

In [24]:
print(Lista)

['SQL', 'Python', 'R']

Some of the commonly used libraries used by Data Scientists include:

In [28]:
a = "dplyr"
b=  "ggplot"
c= "plotly"
Lista2= [a,b,c]

In [30]:
print(Lista2)

['dplyr', 'ggplot', 'plotly']

| Data Science Tools |
| ------------------ |
|Apache spark |
|Tensor Flow |
|Scikit-learn |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [35]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers.

In [44]:

numero= 200/60

This will convert 200 minutes to hours by diving by 60

In [52]:
str(numero) + " horas"

'3.3333333333333335 horas'

In [56]:
numero= round(numero,2)

In [58]:
str(numero) + " horas"

'3.33 horas'

Author

## Alex Villegas